html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding: 1rem;
}

body {
  width: 100vw;
  min-height: 100vh;
}

:root {
  --primary-bg-color: #0ea2e7;
  --secondary-bg-color: #0ea2e7;
  --border-color: #d5d5d5;
  --white-color: #ffffff;
  --disabled-color: #bbb;
}

@import "tailwindcss";

@theme{
    /* MAX WIDTHS */
  --max-width-max-content: 1260px;
  --max-width-max-content-tab: 650px;

  /* SCREENS (BREAKPOINTS) */
  --breakpoint-xs: 500px;

  /* FONTS */
  --font-inter: 'Inter', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
  --font-edu-sa: 'Edu SA Beginner', cursive;
  --font-mono: 'Roboto Mono', monospace;

  /* COLORS */
  --color-white: #fff;
  --color-black: #000;
  --color-transparent: #ffffff00;
  --color-primary: #0ea2e7;
  --color-accent: #d6ebf5;
}